*{
    background-color: rgb(199, 235, 241);
}
#container{
    background: rgb(248, 248, 248);
    width:400px;
    height: 400px;
}
h1{
    color: rgb(106, 197, 250);
}
button{
    color:rgb(82, 98, 243);
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
}
button:hover{
    opacity: 50%;
    background-color: white;
}
.buttons{
    display:grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap: 10px;
    
}
.sizebuttons{
    text-align: center;
    margin-top: 20px;
}
#changeColor4{
    cursor: zoom-out;
}
#changeColor5{
    cursor:zoom-in;
}